<?xml version="1.0" encoding="utf-8"?>
<!--
Need help?
http://openbox.org/wiki/Help:Menus
-->
<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="openbox" label="Openbox">
    <item label="obconf">
      <action name="Execute">
	<execute>obconf</execute>
      </action>
    </item>
    <item label="obkey">
      <action name="Execute">
	<execute>obkey</execute>
      </action>
    </item>
    <item label="obmenu">
      <action name="Execute">
	<execute>obmenu</execute>
      </action>
    </item>
    <item label="Restart tint2">
      <action name="Execute">
	<execute>sh -c &quot;killall tint2 ; sleep 1 ; exec tint2&quot;</execute>
      </action>
    </item>
    <item label="Stop tint2">
      <action name="Execute">
	<execute>killall tint2</execute>
      </action>
    </item>
    <item label="tint2conf">
      <action name="Execute">
	<execute>tint2conf</execute>
      </action>
    </item>
    <item label="Reconfigure">
      <action name="Reconfigure"/>
    </item>
    <item label="Restart">
      <action name="Restart"/>
    </item>
  </menu>
  <menu id="snapshot" label="Snapshot">
    <item label="Snapshot">
      <action name="Execute">
	<execute>bash -c "xwd | convert - ~/tmp/screenshot-$(date +%s).png"</execute>
      </action>
    </item>
    <item label="Snapshot with Frame">
      <action name="Execute">
	<execute>bash -c "xwd -frame | convert - ~/tmp/screenshot-$(date +%s).png"</execute>
      </action>
    </item>
    <item label="Snapshot Fullscreen">
      <action name="Execute">
	<execute>bash -c "xwd -root | convert - ~/tmp/screenshot-$(date +%s).png"</execute>
      </action>
    </item>
  </menu>
  <menu id="power" label="Power">
    <item label="Suspend">
      <action name="Execute">
	<execute>slacklock suspend</execute>
	<prompt>Are you sure you want to suspend?</prompt>
      </action>
    </item>
    <item label="Hibernate">
      <action name="Execute">
	<execute>slacklock hibernate</execute>
	<prompt>Are you sure you want to hibernate</prompt>
      </action>
    </item>
    <item label="Hybrid Sleep">
      <action name="Execute">
	<execute>slacklock hybsleep</execute>
	<prompt>Are you sure you want to hybrid-sleep?</prompt>
      </action>
    </item>
    <item label="Reboot">
      <action name="Execute">
	<execute>slacklock reboot</execute>
	<prompt>Are you sure you want to reboot?</prompt>
      </action>
    </item>
    <item label="Shut Down">
      <action name="Execute">
	<execute>slacklock off</execute>
	<prompt>Are you sure you want to shut down?</prompt>
      </action>
    </item>
  </menu>
  <menu id="root-menu" label="Root Menu">
    <separator label="Applications"/>
    <item label="XTerm">
      <action name="Execute">
	<execute>xterm</execute>
      </action>
    </item>
    <item label="9term (9 rc)">
      <action name="Execute">
	<execute>9 9term -W 754x500 rc</execute>
      </action>
    </item>
    <item label="Konsole">
      <action name="Execute">
	<execute>konsole</execute>
      </action>
    </item>
    <item label="Pale Moon">
      <action name="Execute">
	<execute>palemoon</execute>
      </action>
    </item>
    <item label="Google Chrome">
      <action name="Execute">
	<execute>google-chrome-stable</execute>
      </action>
    </item>
    <item label="Claws Mail">
      <action name="Execute">
	<execute>claws-mail</execute>
      </action>
    </item>
    <item label="Emacs">
      <action name="Execute">
	<execute>emacsclient -nc</execute>
      </action>
    </item>
    <item label="Acme">
      <action name="Execute">
	<execute>sh -c 'tabstop=8 SHELL=$PLAN9/bin/rc exec 9 acme'</execute>
      </action>
    </item>
    <item label="Thunar">
      <action name="Execute">
	<execute>thunar</execute>
      </action>
    </item>
    <item label="KeePassXC">
      <action name="Execute">
	<execute>keepassxc</execute>
      </action>
    </item>
    <item label="xosview">
      <action name="Execute">
	<execute>xosview +cpus -page</execute>
      </action>
    </item>
    <menu execute="xdg_menu --format openbox3-pipe --root-menu /etc/xdg/menus/applications.menu" id="applications" label="More..."/>
    <separator label="System"/>
    <menu id="openbox"/>
    <menu id="snapshot"/>
    <menu id="power"/>
    <item label="Lock Screen">
      <action name="Execute">
	<execute>slacklock lock</execute>
      </action>
    </item>
    <item label="Log Out">
      <action name="Exit">
	<prompt>yes</prompt>
      </action>
    </item>
  </menu>
</openbox_menu>
